@import 'tailwindcss';

@variant dark (&:where([data-theme="dark"] *));

@theme inline {
	/* Custom Fonts */
	--font-sans: 'Noto Sans Variable', sans-serif;
	--font-header: 'Anton', sans-serif;

	/* Colors */
	--color-base: var(--color-base-100);

	/* Add a small breakpoint for mobile */
	--breakpoint-xs: 29rem;

	/* Extra Text Sizes */
	--text-6xl: 4rem;

	/* Custom padding settings */
	--spacing-psm: 1rem;
	--spacing-pmd: 2rem;
	--spacing-plg: 4rem;
	--spacing-pxl: 8rem;

	/* Custom screen size settings */
	--spacing-sxs: 29rem;
	--spacing-ssm: 40rem;
	--spacing-smd: 48rem;
	--spacing-slg: 64rem;
	--spacing-sxl: 80rem;
	--spacing-s2xl: 96rem;

	/* DaisyUI Glass Variables */
	--glass-blur: 10px;
	/* change % value to anything else to remove divider effect */
	--glass-opacity: 20%;
	--glass-reflect-degree: 105deg;
	--glass-reflect-opacity: 4%;
	--glass-border-opacity: 10%;
	--glass-text-shadow-opacity: 10%;
}

@layer base {
	body {
		@apply bg-base text-base-content/90;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-sans leading-normal font-normal;
	}
	h1 {
		@apply text-5xl;
	}
	h2 {
		@apply text-4xl;
	}
	h3 {
		@apply text-3xl;
	}
	h4 {
		@apply text-2xl;
	}
	h5 {
		@apply text-xl;
	}
	.bg-primary * {
		@apply text-primary-content;
	}
	.bg-secondary * {
		@apply text-secondary-content;
	}
	.bg-accent * {
		@apply text-accent-content;
	}
	.bg-neutral * {
		@apply text-neutral-content;
	}
	.bg-info * {
		@apply text-info-content;
	}
	.bg-success * {
		@apply text-success-content;
	}
	.bg-warning * {
		@apply text-warning-content;
	}
	.bg-error * {
		@apply text-error-content;
	}
}

@utility bb {
	@apply border border-red-600 sm:border-blue-600 md:border-green-600 lg:border-indigo-600 xl:border-pink-600;
}
@utility bb2 {
	@apply border border-green-600 sm:border-red-600 md:border-blue-600 lg:border-pink-600 xl:border-indigo-600;
}
@utility flex-center {
	@apply flex items-center justify-center;
}

/* DAISY THEME EXAMPLES */

@plugin 'daisyui' {
	themes:
		light --default,
		dark --prefersdark;
	root: ':root';
	include: button, glass, typography;
	logs: true;
}
@plugin 'daisyui/theme' {
	name: 'dark';
	default: false;
	prefersdark: true;
	color-scheme: 'dark';
	--color-base-100: oklch(20.768% 0.039 265.754);
	--color-base-200: oklch(19.314% 0.037 265.754);
	--color-base-300: oklch(17.86% 0.034 265.754);
	--color-base-content: oklch(84.153% 0.007 265.754);
	--color-primary: oklch(75.351% 0.138 232.661);
	--color-primary-content: oklch(15.07% 0.027 232.661);
	--color-secondary: oklch(68.011% 0.158 276.934);
	--color-secondary-content: oklch(13.602% 0.031 276.934);
	--color-accent: oklch(72.36% 0.176 350.048);
	--color-accent-content: oklch(14.472% 0.035 350.048);
	--color-neutral: oklch(27.949% 0.036 260.03);
	--color-neutral-content: oklch(85.589% 0.007 260.03);
	--color-info: oklch(68.455% 0.148 237.251);
	--color-info-content: oklch(0% 0 0);
	--color-success: oklch(78.452% 0.132 181.911);
	--color-success-content: oklch(15.69% 0.026 181.911);
	--color-warning: oklch(83.242% 0.139 82.95);
	--color-warning-content: oklch(16.648% 0.027 82.95);
	--color-error: oklch(71.785% 0.17 13.118);
	--color-error-content: oklch(14.357% 0.034 13.118);
	--radius-selector: 1rem;
	--radius-field: 0.5rem;
	--radius-box: 1rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
	--color-input: color-mix(
		in oklch,
		currentColor 10%,
		var(--color-base-300) 50%
	);
	--radius-selector: 1rem;
	--radius-field: 0.5rem;
	--radius-box: 1rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}

@plugin 'daisyui/theme' {
	name: 'light';
	default: false;
	prefersdark: false;
	color-scheme: 'light';
	--color-base: oklch(97.788% 0.004 56.375);
	--color-base-100: oklch(97.788% 0.004 56.375);
	--color-base-200: oklch(93.982% 0.007 61.449);
	--color-base-300: oklch(91.586% 0.006 53.44);
	--color-base-content: oklch(23.574% 0.066 313.189);
	--color-primary: oklch(90% 0.063 306.703);
	--color-primary-content: oklch(49% 0.265 301.924);
	--color-secondary: oklch(89% 0.058 10.001);
	--color-secondary-content: oklch(51% 0.222 16.935);
	--color-accent: oklch(90% 0.093 164.15);
	--color-accent-content: oklch(50% 0.118 165.612);
	--color-neutral: oklch(55% 0.046 257.417);
	--color-neutral-content: oklch(92% 0.013 255.508);
	--color-info: oklch(86% 0.127 207.078);
	--color-info-content: oklch(52% 0.105 223.128);
	--color-success: oklch(87% 0.15 154.449);
	--color-success-content: oklch(52% 0.154 150.069);
	--color-warning: oklch(83% 0.128 66.29);
	--color-warning-content: oklch(55% 0.195 38.402);
	--color-error: oklch(80% 0.114 19.571);
	--color-error-content: oklch(50% 0.213 27.518);
	--color-border: color-mix(in oklch, var(--color-base-300) 70%, black 30%);
	--color-input: color-mix(
		in oklch,
		currentColor 10%,
		var(--color-base-100) 50%
	);
	--radius-selector: 0.5rem;
	--radius-field: 0.5rem;
	--radius-box: 0.5rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 2px;
	--depth: 1;
	--noise: 0;
}
