---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Class Bento Experiment">
	<main class="relative flex w-full flex-col justify-center pt-10 text-center">
		<div class="flex flex-col space-y-5">
			<h1 class="font-bold tracking-tight">ClassBento Playground</h1>
			<h5 class="font-bold tracking-tight">
				A simple website to showcase how to host a ClassBento widget
			</h5>
		</div>
	</main>
</Layout>
