---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Simple Barebones Astro + Tailwind Starter Template">
	<main class="relative flex w-full flex-col justify-center pt-10 text-center">
		<div class="flex-center">
			<h1 class="font-bold tracking-tight">
				Bare Bones Astro + Tailwind Starter
			</h1>
		</div>
	</main>
</Layout>
